.container{
    background-color:#212121;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 60px;
}

.Maintab{
    z-index: 300;
    border-radius: 10px;
    text-align: center;
    
}

.CountriesStats{
    z-index: 300;
    border-radius: 10px;
    text-align: center;
}